.block-massaction-jsenabled {
    margin-left: -16px;
}

.block-massaction-select > ul,
.block-massaction-action > ul,
.block-massaction-operation > ul {
    list-style-type: none ;
}

.block-massaction-action a .icon {
    margin-bottom: 3px;
}

.block-massaction-select, .block-massaction-action {
    margin-bottom: 20px;
}

#block-massaction-selectsome, #block-massaction-move, #block-massaction-clone {
    width: 100%;
}

#block-massaction-move {
    margin-bottom: 5px;
}

#block-massaction-selectnone {
    float: right;
}

#block-massaction-help-icon {
    margin: -5px 0 -5px 0;
    text-align: center;
}
